.container {
    .mission {
        background-image: url("../img/head.jpg");
        height: 200px;
        background-size: cover;
        h3 {
            text-align: center;
            margin: 2%;
            color: white;
        }
        h2 {
            text-align: center;
            margin: 2%;
            color: white;
        }
    }
    .team {
        margin-top: 10%;
        h2 {
            margin: 2%;
            border-bottom: 3px solid #52BA5D;
        }
        h3 {
            margin: 2%;
        }
    }
}