@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
.container {
    header {
        display: flex;
        justify-content: space-around;
        input[type=text] {
           padding-right: 20%;
           margin: 2%;
           font-size: 1.7rem;
           @media @phone {
               display: none;
            }
        }
        nav {
           width: 100%;
           text-align: center;
           padding-top: 2%;
           a {
               margin: 2%;
              font-size: 1.3rem;              
              text-align: center;
              text-decoration: none;
              color: black; 
              border: 1px solid black;
              padding-top: 1%;
              padding-left: 3%;
              padding-right: 3%;
              padding-bottom: 1%;
              border-radius: 5px;
              @media @phone {
                 padding: 5%;
                 margin-left: 0;
               }
            }// 
           
        }
    }
}
#vegan {
    .item {
      display: flex;
      justify-content: space-around;
      align-content:center;
      @media @phone {
         flex-direction: column;
         justify-content: center;
         align-content: center;
         margin-left: 10%;
      }
      img {
            padding-top: 5%;
            padding-bottom: 5%;
            width:300px;
            height:300px;
            @media @phone {
              padding-top: 1%;
              padding-bottom: 1%;
              margin: 7%;
          }
      }
      .name {
            @media @phone {
            margin-top: 0;
            margin-left: 5%;
            }
           .review {
               @media @phone {
                  margin-top: 2%;
                  margin-left: 5%;
            }
           }
           .dollar {
               @media @phone {
                   margin-top: 2%;
                   margin-left: 5%;
                }
           }
          .checked {
              color: orange;
          }
          h3 {
              margin-top: 35%;
              @media @phone {
                  margin-top: 0;
                  margin-left: 5%;
               }
          }
      }
      .address {
          margin-top: 5%;
          @media @phone {
             margin-top: 2%;
             margin-left: 5%;
          }
          h4 {
              padding: 5%;
             @media @phone {
                 padding: 0;
                 margin-left: 5%;
          }

          }
      }
    }
}


