.navigation {
    margin: 20px auto;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-around; 
    nav {
      margin-top: 10px;
      text-align: center;
      @media @phone {
         display: flex;
         flex-direction: column;
         width: 75%;
      }
      a {
        margin-left: 20px;
        font-size: 1.5rem;
        text-decoration: none;
        color: grey;
        @media @phone {
          padding: 5%;
          margin-left: 0;
        }
      }// this closes the links 
    }//this closes the nav
}